# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
build
dist
.react-router

# Misc
.DS_Store
*.log
.env
.env.local
.env.production.local

# Lock files
yarn.lock
package-lock.json
pnpm-lock.yaml
